exclude-queries:
  # CloudWatch Log KMS Encryption
  - 0afbcfe9-d341-4b92-a64c-7e6de0543879

  # IAM Access Analyzer
  - e592a0c5-5bdb-414c-9066-5dba7cdea370

  # Lambda Invoke Function Misconfigured (Allowing all resources)
  - 0ca1017d-3b80-423e-bb9c-6cd5898d34bd

  # Sensitive Port Exposed to Private Network (This is fine due to VPC)
  - 92fe237e-074c-4262-81a4-2077acb928c1

  # API Gateway Compression
  # The payload are already small so it's fine to run without Compression
  - ed35928e-195c-4405-a252-98ccb664ab7b

  # API Gateway Usage Plan
  - c999cf62-0920-40f8-8dda-0caccd66ed7e

  # API Gateway Client Certificate
  - 0b4869fc-a842-4597-aa00-1294df425440

  # API Gateway endpoints without Authorizer
  # It will have an authorizer (IAM) later in development
  - 0a96ce49-4163-4ee6-8169-eb3b0797d694

  # API Gateway methods are unrestricted
  # This is fine as there are other layers of security in place
  # We want some endpoints (i.e. the health checks) to be publicly accessible
  - 15ccec05-5476-4890-ad19-53991eba1db8

  # API Gateway without Cloudwatch Logging (false positive)
  - 982aa526-6970-4c59-8b9b-2ce7e019fe36

  # API Gateway method without API Key
  # We will use IAM auth so API keys are not required
  - 671211c5-5d2a-4e97-8867-30fc28b02216

  # API Gateway isn't Private
  # This is fine since there are other security layers in place
  # We also need it to be accessible over the internet for local development
  - 6b2739db-9c49-4db7-b980-7816e0c248c1

  # API Gateway Deployment without Log Access Setting (false positive)
  - 625abc0e-f980-4ac9-a775-f7519ee34296